@page
@model RobinWeb.Web.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "داشبورد";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Dashboard</h1>
        <h2>RobinWeb</h2>
        <blockquote>افرادی که به اندازه ای دیوانه هستند که فکر می کنند می توانند جهان را تغییر دهند، بی شک این کار را انجام می دهند.</blockquote>
    </div>
    <!-- /.col-lg-12 -->
</div>