<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Robinweb|Home</title>
    @RenderSection("MetaTag", false)
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/css/main.min.css">
</head>

<body>

    <!-- header -->
    <div class="container text-center">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="header">
                    <div class="logo">
                        <img src="/img/RobinwebLogo.png" alt="logo">
                    </div>
                    <div class="menubar">
                        <ul class="sm-hidden">
                            <li><a href="/Blog">وبلاگ<i class="bi bi-book-fill"></i></a></li>
                            <li><a href="/">خانه<i class="bi bi-house-fill"></i></a></li>
                            <li><a href="/Product">محصولات<i class="bi bi-handbag-fill"></i></a></li>
                        </ul>
                        <ul class="larg-hidden">
                            <li><a href="/Blog"><i class="bi bi-book-fill"></i></a></li>
                            <li><a href="/"><i class="bi bi-house-fill"></i></a></li>
                            <li><a href="/Product"><i class="bi bi-handbag-fill"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Sotial -->
    <div class="sotial">
        <a href="https://www.instagram.com/robinweb_?igshid=YTQwZjQ0NmI0OA=" target="_blank"><i class="bi bi-instagram"></i></a>
        <a href="https://www.youtube.com/channel/UCwJFVX_93VPEB4k9wQzebug" target="_blank"><i class="bi bi-youtube"></i></a>
        <a href="#" target="_blank"><i class="bi bi-whatsapp"></i></a>
    </div>
    @RenderBody()
    <!-- contact -->
    <div class="col-md-12">
        <div class="contact">
            <div class="cut-top"></div>
            <div class="title">
                <h3>تماس باما</h3>
                <p>+993 554 7625 / robinweb@gmail.com</p>
            </div>
            <partial name="_ContactUs" model="null" />
        </div>
    </div>
    <script src="/js/bootstrap.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>