@{
    ViewData["Title"] = "Home Page";
}


<!-- background -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="home">
                <div class="fream">
                    <video autoplay loop class="pattern">
                        <source type="video/mp4; codecs=avc1.4D401E,mp4a.40.2" src="/img/pattern.mp4">
                    </video>
                </div>
                <img src="/img/banner_bg.png" alt="banner" id="banner-bg">
                <img class="img-fluid" src="/img/background.png" alt="background" id="background-img">
                <div class="text">
                    <h3 id="title">برای یک دنیای غیر متمرکز آماده ایم</h3>
                    <pre id="description">استادیوی نرم افزار
                            و طراحی سایت رابین وب
                        </pre>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- slider -->
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="slider">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="/img/slider/8800987_854.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="/img/slider/8800987_854.jpg" " class=" d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="/img/slider/8800987_854.jpg" " class=" d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="slider-content">
                <h3>آخرین محصولات</h3>
                <pre>برای مشاهده بیشتر و سفارش به صفحه
                        محصولات مراجعه کنید
                    </pre>
                <a href="#" class="btn-dark">بیشتر</a>
            </div>
        </div>
    </div>
</div>

<!-- about us -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="about">
                <h3>درباره ما</h3>
                <img src="/img/undraw_pair_programming_re_or4x.svg" alt="programmin">
                <p class="text-about width-800">
                    ما یک تیم حرفه‌ای در زمینه تولید نرم‌افزار هستیم که با تمرکز بر
                    کیفیت، نوآوری و رضایت مشتری، به ارائه راهکارهای نرم‌افزاری منحصربه‌فرد و شگفت‌انگیز می‌پردازیم.
                    تیم ما از متخصصان واجد شرایطی تشکیل شده است که
                    تجربه و دانش قوی در زمینه‌های مختلف توسعه نرم‌افزار،
                    طراحی و رابط کاربری، مدیریت پروژه و کیفیت دارند. هر
                    عضو تیم با تمرکز بر تخصص خود و همکاری مؤثر، به
                    ارائه نتایج برتر و ارزش افزوده برای مشتریان می‌پردازد.
                </p>
                <p class="text-about width-800">
                    ما به ارائه راهکارهای نرم‌افزاری سفارشی بر اساس نیازها و خواسته‌های
                    مشتریان علاقه‌مندیم. از طراحی و توسعه نرم‌افزارهای وب و موبایل، تا ساخت نرم‌افزارهای تجاری،
                    مدیریت محتوا، اپلیکیشن‌های تحت وب و سایر پروژه‌های نرم‌افزاری پیچیده، ما توانایی ارائه
                    راهکارهایی با کیفیت و قابلیت انعطاف‌پذیری بالا را داریم.
                </p>
                <img src="/img/vector-file.png" alt="programmin">
                <p>
                    همچنین، ما به روز با آخرین تکنولوژی‌ها و روش‌های توسعه نرم‌افزار هستیم و از بهترین ابزارها و
                    فرآیندهای مدیریت پروژه استفاده می‌کنیم. هدف ما این است که نرم‌افزارهایی را ایجاد کنیم که علاوه
                    بر کارایی و کاربرپسندی، قابلیت رشد و توسعه در آینده را نیز داشته باشند.
                    با تیم تولید نرم‌افزار ما همراه شوید و از تجربه‌ی حرفه‌ای و خدمات شگفت‌انگیز ما برای تحقق اهداف
                    کسب و کار خود بهره‌برداری کنید

                </p>
            </div>
        </div>
    </div>
</div>
