@model RobinWeb.Core.DTOs.BlogsViewModel.BlogForFilteringViewModel
@{
}

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="products">
                @foreach (var item in Model.Blogs)
                {
                    <div class="product-box">
                        <img src="/img/blogs/@item.ImageName" alt="blog">
                        <div class="details">
                            <a class="title" href="#">@item.Title</a>
                            <p class="description">
                                @item.Description
                            </p>
                            <a href="/ShowBlog/@item.BlogId" class="btn-dark float-start">مشاهده</a>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="pattern-background">
            <img src="/img/bg-pattern.png" alt="robot" id="bg-pattern">
            <img src="/img/undraw_product_explainer_8jbm.svg" alt="robot" id="robot">
        </div>
    </div>
</div>
